*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.flex{
    display: flex;
}
.half-width{
    width:50%;
}
.header-area {
    background-image: linear-gradient(white,#0000006b), url(../assisgnment-1/images/Rectangle\ 237.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width:80%;
    margin:0 auto;
}
.donate-today{
    text-align: center;
    color:#fff;
    padding: 150px;
}
.donate-today h1{
    font-size:60px;
}
.donate-today p{
    font-size:15px;
    padding: 30px 0px;
}
.donate-today a {
    text-decoration: none;
    background: #FF5959;
    color: #ffff;
    padding: 10px 40px;
}
/*uuuuuuuuu*/
.donate-money{
    text-align: center;
}
.donate-heading{
    margin-top:100px;
}
.donate-heading p{
    padding: 30px 0px;
    color:#707070
}
.donate-amaount{
    margin-left:10%;
    padding:50px 0px;
}
.one{
    padding: 50px 40px;
    background: #FAFAFA;
    margin-right: 2%;
    color:#707070;
}
.one:hover{
    color:#FF5959;
    background-color: #FFEEEE;
}
.offer-amount hr{
    margin: 20px 0px;
    width:50%;
    margin-left:22%;
}
.offer-amount a{
    text-decoration: none;
    background: #FF5959;
    color: #ffff;
    padding: 10px 40px;
    display:inline-block;
}
/*uuuuuuuuu*/
.dp{
    margin-top:100px;
}
.dp-heading{
    text-align:center;
}
.dp-heading h1{
    margin:30px;
}
.food-for-family{
    margin-top: 50px;
}
.food-family-blog{
    background-color: #4F9DA6;
    padding:60px 30px ;
    margin-right: 2%;
}
.food-family-blog h1{
    padding: 20px 0px;
}
.food-family-blog-one{
    background-color: #FF5959;
    padding:60px 30px ;
    margin-right: 2%;
}
.food-family-blog-one h1{
    padding: 20px 0px;
}
.food-family-blog-two{
    background-color: #FF5930;
    padding:60px 30px ;
    margin-right: 2%;
}
.food-family-blog-two h1{
    padding: 20px 0px;
}
/*uuuuuuuuu*/
.hard-lives{
    margin-top:100px;
}
.lives{
    margin-right: 2%;
    margin-top:150px;
}
.lives h1{
    font-size: 50px;
}
.lives p{
    font-size: 15px;
    padding:20px 6px;
}
.lives-img img{
    width:97%;
    height:500px;
    border-radius: 4px;
    
}
.live-one{
    margin-left:5%;
}
.lives  a{
    text-decoration: none;
    background: #FF5959;
    color: #ffff;
    padding: 10px 40px;
    display:inline-block;
}
/*uuuuuuuuu*/